// this is a test of c++ comments

/* this is a test of c comments */ // hello

/* here
   is 
   a *****
   multiline comment */

class my_class {
	string my_string;
	int32 my_int;
}

// can use 'func' or 'method'

method my_callback_func(int32 blah, string something);
func my_callback_func_2(int32 blah, string something);
