// this is a test of c++ comments

/* this is a test of c comments */ // hello

/* here
   is 
   a *****
   multiline comment */

class myclass {
	string foo;
	int32 myvar;
	int32 heh;
	string blah;
}

// can use 'func' or 'method'

method my_callback_func(int32 blah, string something);
func my_callback_func_2(int32 blah, string something);
